.pg-customization {
  background: var(--cta-layer-color);
  color: var(--text-contrast-color);
  display: flex;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  width: 340px;
  z-index: 30000;
}
