.vlt-period-prices {
    
    .panel {
        display: flex;
        justify-content: space-between;

        .title: {

        }

        .actions: {

        }
    }

    .content {
        display: flex;
        align-items: center;
    }
    
}